*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{background-color:#202020;}
.navline-title{
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    text-align:center;
}
.tablink, .tablink:hover, .tablink:visited{
    text-decoration:none;
    color:#ffffff;
}