*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    font-size:50px;
}
/*.nav-main{*/
    /*text-align:center;*/
/*}*/
.nav-head{
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    text-align:center;
}
.nav-title{
    background-color:#5f5f5f;
}
.nav-body{
    width:0px;
    transition: width 1s ease 0s;
    -webkit-transition: width 1s ease 0s;
    background-color:#5f5f5f;
}
.nav-link{
    text-decoration:none;
    color:#ffffff;
    font-size:0px;
    transition: font-size 1s ease 0s;
    -webkit-transition: font-size 1s ease 0s;
}
.nav-main:hover .nav-link{
    font-size:50px;
    transition: font-size 1s ease 0s;
    -webkit-transition: font-size 1s ease 0s;
}
.nav-main:hover .nav-part{
    border:1px solid #000000;
}
.nav-main:hover .nav-body{
    width:200px;
    transition: width 1s ease 0s;
    -webkit-transition: width 1s ease 0s;
}